<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type='text/javascript'>
  window.logo="<%= image_url('logo.png')%>"
  window.circle="<%= image_url('blue_circle.png')%>"
  window.background="<%= image_url('maria-orlova.png')%>"
  window.artist_image="<%= image_url('marco-bianchetti.png')%>"
  window.play="<%= image_url('play.png')%>"
  window.album="<%= image_url('blank-album.png')%>"
</script>


<div id="root">react broke</div>